:root {
  --container-color: #b9eade;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --background-color: whitesmoke;
}

body {
  text-align: center;
  font-family: sans-serif;
  background-color: var(--background-color);
}

h1 {
  font-size: 65px;
  margin: 0;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about-link,
.contact-link {
  margin: 10px;
  border: 1px solid #ffede6;
  padding: 15px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  background-color: #ffede6;
  color: black;
  text-decoration: none;
}
.about-link:hover,
.contact-link:hover {
  background-color: #3ca9aa;
  border-color: #3ca9aa;
}
.container-index,
.container-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7%;
  background-color: var(--container-color);
  padding: 30px 50px 200px 50px;
  border-radius: 6px;
}

.text-container {
  display: flex;
  justify-content: center;
}
.about-text-left,
.about-text-right {
  background-color: var(--background-color);
  max-width: 300px;
  padding: 5%;
  margin: 10px 30px 100px 30px;
  line-height: 1.5;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 6px;
}
.email {
  font-size: 22px;
  border-radius: 6px;
  background-color: var(--background-color);
  padding: 20px;
}
