:root {
  --container-color: white;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --background-color: #f7f7f7;
  --primary-color: #ffede6;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin-bottom: 30px;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 65px;
  margin: 0;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
  color: grey;
}
h4 {
  margin-bottom: 20px;
}
.index-h3 {
  margin-top: 15px;
}

.nav-bg {
  background-color: var(--background-color);
}

.links {
  display: flex;
  justify-content: center;
}

.about-link,
.contact-link {
  margin: 10px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  background-color: white;
  color: black;
  text-decoration: none;
}
.about-link:hover,
.contact-link:hover,
.applink:hover {
  background-color: var(--background-color);
}
.container-index,
.container-about {
  text-align: center;
  background-color: var(--container-color);
  margin-top: 70px;
  padding: 20px 50px 20px 50px;
}
.container-about {
  margin-bottom: 200px;
}

.text-container {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  margin-bottom: 30px;
}

.about-text-left,
.about-text-right {
  background-color: var(--background-color);
  max-width: 100%;
  padding: 5%;
  margin: 10px;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 6px;
}
.email {
  font-size: 20px;
  border-radius: 6px;
  background-color: var(--background-color);
  padding: 2%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.email a {
  color: black;
}

.home-applinks {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.home-applinks a {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.applink {
  background: white;
  box-shadow: var(--box-shadow);
  color: black;
}

@media (max-width: 500px) {
  .my-name {
    font-size: 48px;
  }
  .index-h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  .index-h3 {
    font-size: 18px;
  }
  .email {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
  .about-h1 {
    margin-top: 40px;
  }
}

@media (min-width: 767px) {
  .email {
    max-width: 89%;
  }
}
